

.article {
  	text-align: left;
}
	.article p {

	}

    .article i {
        font-size: 5px;
        color: #6C6C6C;
        font-weight: lighter;
        font-style: italic;
	}

.article.reference {
    color: #aaaaaa;
    font-weight: lighter;
    font-style: italic;
    font-size: 0.75em;
    line-height: 140%;
    padding-left: 3em;
}

.article.image {
    /*height:100%;*/
    /*width:100%;*/
    height: auto;
    width: auto;
    background-size: cover;
}
.context {
	width: auto;
	/*background: #fff;*/
	/*text-align: left;*/
}

.header {
	text-align: left;
	padding-bottom: 3em;
}

.title {
	font-weight: bold;
	font-size: 2em;
}

.date {
	font-size: 0.8em;
}

.subtitle {
	font-weight: bold;
	font-size: 1.5em;
}

.textarea {
    position: relative;
	border-radius: 5px;
	border: 2px solid #717A73;
	background:aliceblue;
	padding: 5px;
}

.textarea.black {
    border: 0 ;
	background:#2B2B2B;
    line-height: 0;
    font-size: 0.6em;
}

.textarea.black.shadow {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.textarea.gray {
	background: white;
	border-radius: 0;
	border: 0;
	text-align: left;
	padding: 5px;
    font-style: italic;
    color: blueviolet;
    word-wrap: break-word;
}

.btn-clipboard {
    position: absolute;
	margin-left: 5px;
    opacity: 0.5; /* прозрачность */
    padding: 3px 10px 10px 10px; /* отступы */
    cursor: pointer;
    content: url("images/copy.png");
    bottom: 2%;
    right: 1%;
}

.btn-clipboard:hover {
    opacity: 1;
}

.navigation {
    /*border-radius: 15px;*/
    /*background: #529D3E;*/
    /*opacity: 0.5;*/
    /*align-content: center;*/
    /*align-self: center;*/
    /*display:-webkit-inline-box;*/
}

#scrollup {
    position: fixed; /* фиксированная позиция */
    opacity: 0.8; /* прозрачность */
    padding: 15px 10px 10px; /* отступы */
    align-self: center;
    align-content: center;
    /*left: 60em; !* отступ слева *!*/
    /*bottom: 15em; !* отступ снизу *!*/
    right: 3%;
    bottom: 50%;
    display: none; /* спрятать блок */
    cursor: pointer;
    content: url("images/up.png");
}

#back {
    position: fixed; /* фиксированная позиция */
    opacity: 0.8; /* прозрачность */
    padding: 15px 10px 10px; /* отступы */
    align-self: center;
    align-content: center;
    /*left: 60em; !* отступ слева *!*/
    /*bottom: 15em; !* отступ снизу *!*/
    right: 3%;
    bottom: 40%;
    /*display: none; !* спрятать блок *!*/
    cursor: pointer;
    content: url("images/back.png");
}

