

.article {
  	text-align: left;
}
	.article p {

	}

.article.image {
    height:100%;
    width:100%;
    background-size: cover;
}
.context {
	width: auto;
	/*background: #fff;*/
	/*text-align: left;*/
}

.header {
	text-align: left;
	padding-bottom: 3em;
}

.title {
	font-weight: bold;
	font-size: 2em;
}

.date {
	font-size: 0.8em;
}


.subtitle {
	font-weight: bold;
	font-size: 1.5em;
}

.textarea {
	border-radius: 5px;
	border: 2px solid #717A73;
	text-align: left;
	background:aliceblue;
	padding: 5px;
}

.textarea.black {
	background:#2B2B2B;
}

.textarea.gray {
	background: white;
	border-radius: 0;
	border: 0;
	text-align: left;
	padding: 5px;
	font-weight: bold;
    font-style: italic;
    color: blueviolet;
}

.btn-clipboard {
	border-radius: 5px;
	margin-left: 5px;
}

.navigation {
    /*border-radius: 15px;*/
    /*background:black;*/
    /*opacity: 0.5;*/
    /*align-content: center;*/
    /*align-self: center;*/
    /*display:-webkit-inline-box;*/
}

